
.row-header{
  
    color: darkorange;
    padding: 40px 30px 10px 30px;
    margin: 0px auto;
}

body{
margin: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    
    
   

     
}


#night{
    height: 80vh;
    width: 70vw;
    border: 1px solid black;
    margin:5rem auto;
    
    background-image: url(./assets/Img_1.png);
    background-size: cover;
    position: relative;
    box-shadow: 1px 2px 60px black;
    overflow-x: hidden;
  
}

.surface{
    height: 140px;
    width: 500%;
    background-image: url(./assets/Img_02.png);
    position: absolute;
    bottom: 0%;
    left:0%;
    background-repeat: repeat-x;
 

}

.car{
    position: absolute;
    bottom: 8%;
    left: 24%;
    
}

/*animation*/

@keyframes moveRight{
    100%{transform:translateX(-2950px)};
}

@keyframes suspension{
    100%{
        transform: translateY(-1px);
    }

    50%{
        transform: translateY(2px);
    }

    0%{
        transform: translateY(-1px);
    }
}

.moveRight{
    animation: moveRight 6s linear infinite;
}

.suspension{
    animation: suspension 1s linear infinite;

}
#seconds{
    font-size: 20px;
    color: blanchedalmond;
}

#goldist{
    
    text-align: center;
    color: blanchedalmond;
    font-size: 30px;
}

#para{
    color: blanchedalmond;
    font-size: 20px;
}